# ===============================
# DATABASE CONFIGURATION (PostgreSQL)
# ===============================
DB_URL=jdbc:postgresql://postgres:5432/notification_db
DB_USERNAME=postgres
DB_PASSWORD=change-this-postgres-password

# ===============================
# RABBITMQ CONFIGURATION
# ===============================
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=your_rabbitmq_password

# ===============================
# MAIL CONFIGURATION
# ===============================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
